# Node modules
node_modules/

# Environment files
.env
backend/.env
frontend/.env


# Build folders
dist/
build/

# Python
__pycache__/
*.pyc
#git add .
#git commit -m "Updated UI improvements"
#git push
